@{
    ViewBag.Title = "Bucks";
}

<div class="wrapper col4">
    <div id="container">
      
        <!-- <div id="content"> -->
        <div class="pettigoat gallery">
            <h2 class="gallery" style="color: #660000;">@ViewBag.Message</h2>
            <h1>example1: BraveHeart </h1>

            @*<img class="imgr" src="~/images/demo/SMALLNewBuck.jpg" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/gallery/LARGENewBuck.jpg" title="This is Image ? description"><img class="imgr" src="~/images/demo/gallery/SMALLNewBuck.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>Lineage information about braveheart eplubis unum uttis felisi eger id justo maurisus convallicitur.</p>
            <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

            @*<img class="imgl" src="~/images/demo/imgl.gif" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/LARGEBraveHeartOnTheMove.jpg" title="This is Image ? description"><img class="imgl" src="~/images/demo/SMALLBraveHeartOnTheMove.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>.</p>
            <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
            <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
            <p> </p>
            <h3>$ Dollar amount</h3>

            @*<table summary="Summary Here" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="light">
                        <td>Value 1</td>
                        <td>Value 2</td>
                        <td>Value 3</td>
                        <td>Value 4</td>
                    </tr>
                </tbody>
            </table>*@

        </div>

        <hr style="margin-top: 125px; width: 75%; height: 1px; background-color: #FFFF00; border: 0 none; " />



        <div class="pettigoat">
            <h1>example2: BraveHeart</h1>

            @*<img class="imgr" src="~/images/demo/SMALLNewBuck.jpg" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/LARGENewBuck.jpg" title="This is Image ? description"><img class="imgr" src="~/images/demo/SMALLNewBuck.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>Lineage information about braveheart eplubis unum uttis felisi eger id justo maurisus convallicitur.</p>
            <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

            @*<img class="imgl" src="~/images/demo/imgl.gif" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/LARGEBraveHeartOnTheMove.jpg" title="This is Image ? description"><img class="imgl" src="~/images/demo/SMALLBraveHeartOnTheMove.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>.</p>
            <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
            <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
            <p> </p>
            <h2>$ Dollar amount</h2>

        </div>        
        <hr style="margin-top: 125px; width: 75%; height: 1px; background-color: #FFFF00; border: 0 none; " />
        
        <div class="pettigoat">
            <h1>example3: BraveHeart</h1>

            @*<img class="imgr" src="~/images/demo/SMALLNewBuck.jpg" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/LARGENewBuck.jpg" title="This is Image ? description"><img class="imgr" src="~/images/demo/SMALLNewBuck.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>Lineage information about braveheart eplubis unum uttis felisi eger id justo maurisus convallicitur.</p>
            <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

            @*<img class="imgl" src="~/images/demo/imgl.gif" alt="seeking image file" width="250" height="250" />*@
            <a rel="gallery_group" href="~/images/demo/LARGEBraveHeartOnTheMove.jpg" title="This is Image ? description"><img class="imgl" src="~/images/demo/SMALLBraveHeartOnTheMove.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>.</p>
            <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
            <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
            <p> </p>
            <h2>$ Dollar amount</h2>

        </div>
        <hr style="margin-top: 125px; width: 75%; height: 1px; background-color: #FFFF00; border: 0 none; " />


            @*<div id="comments">
                <h2>Comments</h2>
                <ul class="commentlist">
                    <li class="comment_odd">
                        <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
                        <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
                        <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                    </li>
                    <li class="comment_even">
                        <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
                        <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
                        <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                    </li>
                    <li class="comment_odd">
                        <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
                        <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
                        <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                    </li>
                </ul>
            </div>*@

            @*<h2>Write A Comment</h2>
            <div id="respond">
                <form action="#" method="post">
                    <p>
                        <input type="text" name="name" id="name" value="" size="22" />
                        <label for="name"><small>Name (required)</small></label>
                    </p>
                    <p>
                        <input type="text" name="email" id="email" value="" size="22" />
                        <label for="email"><small>Mail (required)</small></label>
                    </p>
                    <p>
                        <textarea name="comment" id="comment" cols="100%" rows="10"></textarea>
                        <label for="comment" style="display:none;"><small>Comment (required)</small></label>
                    </p>
                    <p>
                        <input name="submit" type="submit" id="submit" value="Submit Form" />
                        &nbsp;
                        <input name="reset" type="reset" id="reset" tabindex="5" value="Reset Form" />
                    </p>
                </form>
            </div>*@
            

    </div>
</div>

@section extraLinks {
    @*FancyBox*@
    <script type="text/javascript" src="~/Scripts/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.setup.js"></script>
    <link rel="stylesheet" href="~/Scripts/fancybox/jquery.fancybox-1.3.2.css" type="text/css" />
    @*End FancyBox*@
}