﻿@{
    ViewBag.Title = "Bucks";
}

<div class="wrapper col4">
    <div id="container">

        <!-- <div id="content"> -->
        <div class="pettigoat gallery">
            <h2 class="pettigoat_class1">@ViewBag.Message</h2>
            <h1>Pettigoats BlackTyFormalAffair (name and registration pending) </h1>

            <a rel="gallery_group" href="~/images/demo/2014-07-26 01.13.27.jpg" title="2014-07-26 01.13.27.jpg" target="_blank"><img class="imgr" src="~/images/demo/ThumbSize2014-07-26 01.13.27.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>
                Birthdate: 4-8-12<br />
                <br />Black and white <br /><span class="pettigoat_blue"> Blue-eyes <br /></span><span style="color: #FFCC66; ">Moonspots </span><br />
            </p>
            <p>Ty is a proud, handsome fellow with a great personality and is very sweet and friendly. He has a particular passion for saltine crackers and an even bigger passion for his ladies! </p>
            <a rel="gallery_group" href="~/images/demo/2014-10-31 06.28.42.jpg" title="2014-10-31 06.28.42" target="_blank"><img class="imgl" src="~/images/demo/ThumbSize2014-10-31 06.28.42.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Happy Kids Hollow Talisman
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> Happy Kids Hollow Kingston</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> Prairie Wood Chan Cho</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span> Simple Pleasures Macy's</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> Prairie Wood POTR Lola</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> Prairie Wood PuttinOnTheRitz</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> PromisedLand CP Senorita*D</span>
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  Happy Kids Hollow Desirae Moon
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Emmetts Acres Maverick</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Goathead Hill Sprint</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Goathead Hill Daisy Mae</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> IK Caprines Sandoval's Dina</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> Good Measure Farm Sandoval*S</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> IK Caprines Diana Lightning</span>
            </p>
            <h3></h3>
        </div>

        <hr style="margin-top: 5px; width: 75%; height: 1px; background-color: #FFFF00; border: 0 none; " />
        @*<div>
                <hr style="margin: 5px 50px 25px 50px; border: 0 none; background-color: #FFFF00;" />
            </div>*@

        @*<hr style="margin-top: 125px; width: 75%; height: 1px; background-color: #FFFF00; border: 0 none; " />*@

    </div>
</div>

@section extraLinks {
    @*FancyBox*@
    <script type="text/javascript" src="~/Scripts/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.setup.js"></script>
    <link rel="stylesheet" href="~/Scripts/fancybox/jquery.fancybox-1.3.2.css" type="text/css" />
    @*End FancyBox*@
}