@{
    ViewBag.Title = "Does";
}

<div class="wrapper col4">
    <div id="container">

        <!-- <div id="content"> -->
        <div class="pettigoat gallery">
            <h2 class="pettigoat_class1">@ViewBag.Message</h2>
            <h1>Happy Kids Hollow Desirae Moon ("Stella") </h1>

            <a rel="gallery_group" href="~/images/demo/LARGE2013-08-30 14.42.31.jpg" title="LARGE2013-08-30 14.42.31.jpg" target="_blank"><img class="imgr" src="~/images/demo/SMALL2013-08-30 14.42.31.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>Birthdate: 3-25-11<br/>
            <br />Black and white<br /><span class="pettigoat_blue"> Blue eyes</span> <br />AGS, ADGA</p>
            <p>Stella is a superstar of does, with her sweet and very friendly disposition. Her coat is sleek, shiny and jet black with distinct white overlay. She is an outstanding mother, and in her three kiddings, (one set of triplets) she has produced 5 kids. 4 are does, 4 are moonspotted, and ALL are <span class="pettigoat_blue"> blue-eyed! </span> Stella is the proud and beautiful foundation of many in my herd. </p>
            <a rel="gallery_group" href="~/images/demo/LARGE2014-07-25 00.02.39.jpg" title="LARGE2014-07-25 00.02.39.jpg" target="_blank"><img class="imgl" src="~/images/demo/SMALL2014-07-25 00.02.39.jpg" alt="Please add Photo" width="250" height="250" /></a>
            
            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Emmetts Acres Maverick
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> GoatHead Hill Sprint</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> Pecan Hollow TM Spencer</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span> McScurry Farm Verizon</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> GoatHead Hill Daisy Mae</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> GoatHead Hill Toto</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> Dill Pickles SP Wildflower</span>
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  IK Caprines Sandoval's Dina
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Good Measure Farm Sandoval</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Good Measure Farm Estavan</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Good Measure Farm Madame Rue</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> IK Caprines Jupiter's Star</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> Twin Creeks Drops of Jupiter (Rosasharn's TL Don Juan </span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x Twin Creeks Yuletide Treasure)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> Simple Pleasures Miss Mulan</span>
            </p>
            <h3></h3>
        </div>
       
        <div>
            <hr style="margin: 5px 50px 25px 50px; border: 0 none; background-color: #FFFF00;" />
            @*<hr class="goat_separator" />*@
        </div>

        <div class="pettigoat">
            <h1>Harmony Creek Dolly Parton </h1>

            <a rel="gallery_group" href="~/images/demo/LARGE2014-07-29 04.57.32.jpg" title="LARGE2014-07-29 04.57.32.jpg" target="_blank"><img class="imgr" src="~/images/demo/SMALL2014-07-29 04.57.32.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>
                Birthdate: 6-12-12<br />
                <br />Red and white<br /><span class="pettigoat_blue"> Blue eyes</span> <br />AGS
            </p>
            <p>Tiny, independent Dolly with crystal <span class="pettigoat_blue">blue eyes</span> presented pettigoat acres with quadruplets on her first kidding! her babies were all gorgeous and<span class="pettigoat_blue"> blue-eyed </span> with the exception of one of the doelings who is a show-stopping, brown eyed, tri-color, of which we have retained.</p>
            <a rel="gallery_group" href="~/images/demo/LARGE2014-07-27 02.08.50.jpg" title="LARGE2014-07-27 02.08.50.jpg" target="_blank"><img class="imgl" src="~/images/demo/SMALL2014-07-27 02.08.50.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Harmony Creek Romeo
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> Bells Romeo</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> McDonalds Farm TinyTim</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span> Ruby Rock Angel</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> BRB Pierre's Confetti</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> Flat Rocks Lowell Pierre Davis PGCH</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> Blue Ribbon Babies Classic Champagne</span>
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  Flat Rocks Lacey
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Irish Whisper Harry Potter</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Gay-Mor's Lucky Northup King*S</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Gay-Mor's RA Wood Nymph</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> Flat Rocks Ever After</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> MCH Flat Rocks Fox Fire E </span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> Flat Rocks Prize Patrol </span>
                <br />
                <br />  
                <br />
                <br />
                <br />
                <br />
               
            </p>
            <h3></h3>
        </div>
        
        <hr style="margin: 5px 50px 25px 50px; border: 0 none; background-color: #FFFF00;" />

        <div class="pettigoat">
            <h1>PlayRite Peppermint Patty </h1>

            <a rel="gallery_group" href="~/images/demo/LARGE2014-03-20 21.28.49.jpg" title="LARGE2014-03-20 21.28.49.jpg" target="_blank"><img class="imgr" src="~/images/demo/SMALL2014-03-20 21.28.49.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>
                Birthdate: 5-13-2010<br />
                <br />Brown and cream buckskin <br />AGA, ADGA
            </p>
            <p>Patty is a remarkable dairy goat. I've hand milked a quart off of her in one sitting. She has dam-raised a set of triplets and a set of quads with no assistance in nursing. Her lovable sense of humor is another appreciative quality about her, but she's all business when it comes to her babies. Patty loves being a mother, and will happily share them with you as long as they remain within her sights, and she gets her share of petting too!</p>
            <a rel="gallery_group" href="~/images/demo/LARGE2014-07-26 23.42.32.jpg" title="LARGE2014-07-26 23.42.32.jpg" target="_blank"><img class="imgl" src="~/images/demo/SMALL2014-07-26 23.42.32.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Atwood Acres Cicada
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> Atwood Acres Cyclone 3xBBIS</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> CH&PGCH Twin Creeks BW Fathom This*S (MCH Twin Creeks</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baywatch +*SE x MCH GayMorsJJU Nonpariel 3*DE)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span>  CH Caesar's Villa Serendipity</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> ARMCH Katie Did 1xBOB</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> Rosasharn's Little Bear (Goodwood's Tom Thumb </span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +*S*E* 2x Nat'l CH x Stonewall's Baby Uddercup 2*D)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> Blue Moon Acres Katie</span>
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  Playrite Chocolate Candy
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Tyny Little Man Jr GrCh</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Green Gates Prince of Tides*S 2002 Nat'l Champion</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Tyny Little Bitty</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> Tiny Tales Annie Oakley</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> ARMCH/GRCH Buttin Heads Piled High*S+B</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> Promised Land Ultra Violet </span>
                <br />
                <br />
            </p>
            <h3></h3>
        </div>  
        
        <hr style="margin: 5px 50px 25px 50px; border: 0 none; background-color: #FFFF00;" />

        <div class="pettigoat">
            <h1>Pettigoats "Slipper"</h1>

            <a rel="gallery_group" href="~/images/demo/LARGE2014-08-10 13.08.10.jpg" title="LARGE2014-08-10 13.08.10.jpg" target="_blank"><img class="imgr" src="~/images/demo/SMALL2014-08-10 13.08.10.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>
                Birthdate: 8-29-2013<br />
                <br />Black and white <br /><span class="pettigoat_blue"> Blue-eyes <br /></span><span style="color: #FFCC66; ">Moonspots </span><br />AGS
            </p>
            <p>Slipper is the whole package rolled into one fine lady. She is polite and patient and moves with delicate gracefulness. Her perfectly placed <span style="color: #FFCC66; ">moonspots </span> really pop against her shiny black coat and her eyes are a glittering blue. She is a triplet, born here on Pettigoat Acres and is scheduled to be bred for the first time this Fall. We have high hopes that she will pass her beautiful conformation and style as well as her excellent disposition to her offspring.</p>
            <a rel="gallery_group" href="~/images/demo/LARGE2014-07-26 23.36.52.jpg" title="LARGE2014-07-26 23.36.52.jpg" target="_blank"><img class="imgl" src="~/images/demo/SMALL2014-07-26 23.36.52.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Happy Kids Hollow Talisman (for extended pedigree see Buck Page)
                @*<br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> Atwood Acres Cyclone 3xBBIS</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> CH&PGCH Twin Creeks BW Fathom This*S (MCH Twin Creeks</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baywatch +*SE x MCH GayMorsJJU Nonpariel 3*DE)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span>  CH Caesar's Villa Serendipity</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> ARMCH Katie Did 1xBOB</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> Rosasharn's Little Bear (Goodwood's Tom Thumb </span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +*S*E* 2x Nat'l CH x Stonewall's Baby Uddercup 2*D)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> Blue Moon Acres Katie</span>*@
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  Happy Kids Hollow Desirae Moon (Dam's pedigree listed above)
                @*<br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Tyny Little Man Jr GrCh</span>
    <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Green Gates Prince of Tides*S 2002 Nat'l Champion</span>
    <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Tyny Little Bitty</span>
    <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> Tiny Tales Annie Oakley</span>
    <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> ARMCH/GRCH Buttin Heads Piled High*S+B</span>
    <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> Promised Land Ultra Violet </span>*@
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
            <h3></h3>
        </div>

        <hr style="margin: 5px 50px 25px 50px; border: 0 none; background-color: #FFFF00;" />

        <div class="pettigoat">
            <h1>Pettigoats Tattooed Camo Gal "Jewel"</h1>

            <a rel="gallery_group" href="~/images/demo/LARGE2014-05-08 05.50.03.jpg" title="LARGE2014-05-08 05.50.03.jpg" target="_blank"><img class="imgr" src="~/images/demo/SMALL2014-05-08 05.50.03.jpg" alt="Please add Photo" width="250" height="250" /></a>
            <p>
                Birthdate: 8-29-2013<br />
                <br />Buckskin <br /><span class="pettigoat_blue"> Blue-eyes <br /></span>Heavily <span style="color: #FFCC66; ">moonspotted </span><br />AGS
            </p>
            <p>Named after a local biker's bar and camoflauge fatigues, you can get an idea of Jewel's vivacious personality and tattoed <span style="color: #FFCC66; "> (moonspotted)</span> appearance! She is fully loaded with <span style="color: #FFCC66; ">moonspots</span> too many to count.. The spots start right smack on the side of her face and ears and run clear through the rest of her entire body, changing color as they pass through her buckskin markings! Her coat takes on a life of it's own, especially at sunset, when the spots actually seem to glow! Fun-loving, extremely friendly, wonderful gal! She is also a triplet and is scheduled to be bred this Fall.</p>
            <a rel="gallery_group" href="~/images/demo/LARGE2014-08-10 12.46.19.jpg" title="LARGE2014-08-10 12.46.19.jpg" target="_blank"><img class="imgl" src="~/images/demo/SMALL2014-08-10 12.46.19.jpg" alt="Please add Photo" width="250" height="250" /></a>

            <p>
                <span class="pettigoat_lineage1">Sire:</span> &nbsp;  Happy Kids Hollow Talisman (for extended pedigree see Buck Page)
                @*<br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SS:</span> Atwood Acres Cyclone 3xBBIS</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSS:</span> CH&PGCH Twin Creeks BW Fathom This*S (MCH Twin Creeks</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baywatch +*SE x MCH GayMorsJJU Nonpariel 3*DE)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SSD:</span>  CH Caesar's Villa Serendipity</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">SD:</span> ARMCH Katie Did 1xBOB</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDS:</span> Rosasharn's Little Bear (Goodwood's Tom Thumb </span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +*S*E* 2x Nat'l CH x Stonewall's Baby Uddercup 2*D)</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">SDD:</span> Blue Moon Acres Katie</span>*@
            </p>
            <p>
                <span class="pettigoat_lineage1">Dam:</span> &nbsp;  Happy Kids Hollow Desirae Moon (Dam's pedigree listed above)
                @*<br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DS:</span> Tyny Little Man Jr GrCh</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSS:</span> Green Gates Prince of Tides*S 2002 Nat'l Champion</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DSD:</span> Tyny Little Bitty</span>
                <br /> <span class="pettigoat_lineage2"> <span class="pettigoat_class1">DD:</span> Tiny Tales Annie Oakley</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDS:</span> ARMCH/GRCH Buttin Heads Piled High*S+B</span>
                <br /> <span class="pettigoat_lineage3"> <span class="pettigoat_class2">DDD:</span> Promised Land Ultra Violet </span>*@
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
            <h3></h3>
        </div>

        <hr style="margin: 5px 50px 25px 50px;border: 0 none;background-color: #FFFF00;" />

    @*<div class="pettigoat">
        <h1>example: Next Doe name here</h1>

        <a rel="gallery_group" href="~/images/demo/LARGEWalkingOnPorch.jpg" title="This is Image ? description"><img class="imgr" src="~/images/demo/SMALLWalkingOnPorch.jpg" alt="Please add Photo" width="250" height="250" /></a>

        <p>Lineage information about Doe name here eplubis unum uttis felisi eger id justo maurisus convallicitur.</p>
        <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

        <a rel="gallery_group" href="~/images/demo/LARGELightDarkFace.jpg" title="This is Image ? description"><img class="imgl" src="~/images/demo/SMALLLightDarkFace.jpg" alt="Please add Photo" width="250" height="250" /></a>

        <p>This is a W3C compliant free website template from <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>.</p>
        <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
        <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>
        <p> </p>
        <h2>$ Dollar amount</h2>
    </div>*@    
    
</div>
</div>

@section extraLinks {
    @*FancyBox*@
    <script type="text/javascript" src="~/Scripts/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/jquery.fancybox-1.3.2.setup.js"></script>
    <link rel="stylesheet" href="~/Scripts/fancybox/jquery.fancybox-1.3.2.css" type="text/css" />
    @*End FancyBox*@
}